/*
	map_canvas 
*/
#map_canvas_container{
	position: absolute;
	width: 30%;
	height: 400px;
	top: 120px;
	left: 70%;
	background-color: #FFFFFF;
	z-index: 10;
	background: rgba(255, 255, 255, 0.4);
}
.map_canvas_container_element:hover{
	background: rgba(70, 130, 180, 0.9);	
	cursor: pointer;
}
#map_canvas{
	position: relative;
	width: 100%;
	height: 400px;
	top: 120px;
	}

.map_more{
	min-height: 20px;
	background-color: #EBF3EB; 
	padding: 2px 0 2px 0;
}
#map_more_checkin_counter{
	text-align: right;
	padding: 5px 50px 5px 0px;
	font-size: 60px;
	font-style: italic;
	color: #DDDDDD;
}

/*
	general_style 
*/
body{
	background-color: #F0F1F2;
}

/*
	navibar 
*/
.navibar_top{
	padding: 10px 0px 10px 0px;
}
.navibar_second{
	background-color: #DDDDDD;
	padding: 10px 0px 10px 0px;
}

#navibar_search{
	width:480px;
}
#navibar_login_section{
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
}
#navibar_login_section:hover{
	color: #FFFFFF;
}
#navibar_login_section_img{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.navibar_suggest_tag{
	margin: 5px 5px 5px 5px;
}
#navi_login_text{
	padding: 0px 0px 0px 10px;
}


/*
	main 
*/
.main_container{
	margin: 150px 0 0 0;
	width: 960px;
	min-height: 800px;
	line-height: 40px;
	position:absolute;
	left: 10%;
	background-color: #EEEEEE;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
  	border-radius: 3px;
}
.main_container_right{
	background-color: #F0F4F5;
	min-height: 1000px;
	border: 1px solid #CCCCCC;
}
.main_container_left{
	background-color: #FFFFFF;
	min-height: 1000px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

/*
	venue_list_pool_element 
*/
.venue_list_pool_element{
	text-align: left;
	padding: 10px 0px 10px 0px;	
}
.venue_list_pool_addr{
	padding: 4px 0px 4px 0px;
}
.venue_list_pool_img{
	padding: 5px 5px 5px 5px;
}
.venue_list_pool_element_left{
	width: 100%;
	padding: 5px 5px 5px 5px;
	background: rgba(255, 255, 255, 0.8);
}
ul{
	list-style: none;
}
/*
	sidebar
*/
#sidebar_venue_counter{
	padding: 64px 0 32px 0;
	font-size: 128px;
}


#suggest_venue_name{
	text-align: left;
}
#suggest_venue_addr{
	text-align: left;
}
#suggest_venue_lat_lng{
	text-align: left;
}

li{
	display:block;
	position:relative;
	padding:12px 6px;
	z-index:1;
}      
li:after{
	display:block;
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	content:' ';
	border-radius:6px;
	z-index:-1;
}
 

 .marker { opacity:0.0; }